---
const version = Astro.params.version;
import Button from '../../components/Button.astro';
import Layout from '../../layouts/Layout.astro';
import { versions } from '../versions.astro';

const currentVersion = versions.find(v => v.version === version);

if (!currentVersion) {
  return Astro.redirect('/404');
}

const versionDetails = currentVersion.details || 'Detalles no disponibles para esta versión.';
const versionDescription = currentVersion.description || 'Descripción no disponible.';
const versionDate = currentVersion.date || 'Fecha no disponible.';
---

<Layout title={version}>
  <main class="container mx-auto bg-opacity-30 p-6 bg-black text-white h-screen">
    <h1 class="text-3xl font-bold mb-6">Detalles de la versión: {version}</h1>
    <h2 class="text-sm mb-2"><strong>Fecha de lanzamiento:</strong> {versionDate}</h2>
    <h2 class="mb-4"><strong>Descripción:</strong> {versionDescription}</h2>
    <p>{versionDetails}</p>
    <div class="mt-24">
      <Button href="/versions">
        <img slot="img" src="../arrow-left.svg" alt="Go back icon" />
        <span slot="name" class="ml-1">Go back</span>
      </Button>
    </div>
  </main>
</Layout>
